@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Jacquard+12+Charted&family=Jacquard+24&family=Micro+5&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Share+Tech+Mono&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=VT323&display=swap');

:root{
    --color: rgb(17, 17, 17);
    --secondary-color: rgb(139, 139, 139);
    --link-color: rgb(86, 86, 86);
    --background: rgb(244, 244, 242);
    --grey: #414141;

    --card-height:1rem;
    --card-width: auto;

    --body-copy: 1.2rem;
    --caption-copy: calc(var(--body-copy) * 0.8);

    --space-bar-0: 0.8rem;
    --space-bar-1: 1rem;
    --space-bar-2: calc(var(--space-bar-1) * 1.8);
    --space-bar-3: 4rem;
    --space-page-margin: 2rem;
}

body{
    height: 100vh;
    color: var(--color);
    background-color: var(--background);
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: var(--body-copy);
    color: var(--secondary-color);

    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-items: center;
}


@media(width<1000px){
    :root{
         --space-page-margin: 1rem;
    }
}
@media(width<800px){
    :root{
        --body-copy: 1rem;
        --space-bar-0: 0.6rem;
        --space-bar-1: 0.8rem;
        --space-bar-2: calc(var(--space-bar-1) * 1.8);
        --space-bar-3: 2rem;
    }
}

hgroup, main, footer{
    padding: var(--space-page-margin);
}


hgroup{
    height: 3rem;
    display: flex;
    justify-content:space-between;
    column-gap: var(--space-bar-1);
    align-items: center;
    font-size: var(--body-copy);
    position: sticky;
    z-index: 1;
    
    
    h1{
        color: var(--color);
        animation-name: fontchange;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: steps(5, end);
        font-size: 120%;
    }

    a{
        max-width: 15rem;
        white-space: nowrap;
    }
    /* i want the info to appear on hover. this is my reference: https://codepen.io/jimbennett/pen/OMPrjL */

    /* I referenced the selector such as .textanim-container:hover .textanim-hidden */
    #info{
        height: 100%;
        
        #hide{
            display: block;
            white-space: wrap;
            width: 60ch;
            position:relative;
            top: var(--space-bar-1);
            opacity: 0;
            font-family: "VT323", monospace;
        }
    }

    #info:hover #hide {
        opacity: 1;
        }
}


footer{
    font-size: var(--caption-copy);
    display: flex;
    justify-content:space-between;
    align-items: center;
  

    @media(width<1200px){
        display: block;
    }
}


#main{
    display: grid;
    gap: var(--space-bar-2);
    grid-template-columns: repeat(7, 1fr); 

    li{
        @media(width<600px){
            grid-column: 1 /span 7;
            }
    }
}


a:hover{
    font-family: "Jacquard 24", system-ui;
}

.card {
    width: 15vw;
    position: relative;
    border-radius: var(--space-bar-3);
    align-items: left;
    gap: var(--space-bar-0);
    display: flex;
    flex-direction: column;
    font-size: var(--body-copy);
    color: var(--color);
    /* background-color: var(--background-opacity); */

}

img{
    border-radius: var(--space-bar-2);
    overflow: hidden;
}

#binding{
    grid-column: 1 /span 3;
}
#spread{
    grid-column: 3 /span 5;
}
#manuscript{
    grid-column: 1 /span 3;
}
#links{
    grid-column: 3 /span 5;

}
#functions{
    grid-column: 1 /span 3;
}



@keyframes fontchange {
  0% {
    font-family: "Jacquard 24", system-ui;
  }
  20% {
    font-family: "Share Tech Mono", monospace;  
    font-family: "Micro 5", sans-serif;
  }
  40% {
    font-family: "Jacquard 12 Charted", system-ui;
  }
  60% {
    font-family: "Micro 5", sans-serif;
  }
  80% {
    font-family: "VT323", monospace;
  }
  100% {
    font-family: "Jacquard 24", system-ui;
  }
}