@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Jacquard+12+Charted&family=Jacquard+24&family=Micro+5&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Share+Tech+Mono&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=VT323&display=swap');

:root{
    --color: rgb(17, 17, 17);
    --secondary-color: rgb(176, 176, 176);
    --background: rgb(244, 244, 242);
    --background-gradient: rgba(244, 244, 242, 0);

    --card-height:1rem;
    --card-width: auto;

    --body-copy: 1.3rem;
    --heading-copy: calc(var(--body-copy) * 1.4);
    --caption-copy: calc(var(--body-copy) * 0.8);

    --space-bar-0: 0.8rem;
    --space-bar-1: 1rem;
    --space-bar-2: calc(var(--space-bar-1) * 1.8);
    --space-bar-3: 4rem;
    --space-page-margin: 2rem;
}

body{
    height: 100vh;
    color: var(--color);
    background-color: var(--background);
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: var(--body-copy);
    color: var(--secondary-color);

    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-items: center;
}


hgroup, main, footer{
    padding-inline: var(--space-page-margin);
    padding-block: var(--space-bar-0);

}

hgroup, footer, nav{
    position: fixed;
    width: 100%;
    z-index: 1;
}

hgroup{
    background-image: linear-gradient(to bottom, var(--background), var(--background), var(--background), var(--background),var(--background-gradient));
    top: 0;
    height: 3rem;

    ul{
        display: flex;
        justify-content:space-between;
        column-gap: var(--space-bar-1);
        font-size: var(--body-copy);
        white-space: nowrap;

        #about{
            /* making about only show on mobile */
            
            /* MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/visibility */

            /* im not sure which one (visibility or display) to use */
            /* I came across https://stackoverflow.com/questions/3695813/difference-between-visibilitycollapse-and-displaynone */
            /* i learnt that disply hide the element entirely including its surrounding properties like column-gap */
            display: none;
        }
        
        /* i want the info to appear on hover. this is my reference: https://codepen.io/jimbennett/pen/OMPrjL */
    
        /* I referenced how the selector were written such as .textanim-container:hover .textanim-hidden */

        li{
            align-items: baseline;
            width: min-content;
            *{
                height: 100%;
            }
            h1{
                color: var(--color);
                animation-name: fontchange;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                animation-timing-function: steps(5, end);
                font-size: var(--heading-copy);
            }
    
            a{
                opacity: 0.1;
            }
            #info{       
                #hide{
                    display: block;
                    white-space: wrap;
                    width: 60ch;
                    position:relative;
                    top: var(--space-bar-1);
                    color: var(--secondary-color);
                    opacity: 0;
                    font-family: "VT323", monospace;
                }
            }
            
            #info:hover #hide {
                opacity: 1;
                }
        }
            
        li:nth-child(1){
            width:10rem;
        }

    }
    a:hover{
    font-family: "Jacquard 24", system-ui;
    color: var(--color);
}
}
hgroup:hover a{
    opacity: 1;
}


footer, nav ul{
    display: flex;
    column-gap: var(--space-bar-1);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

nav{
    bottom: 2rem;
    background-image: linear-gradient(to bottom, var(--background-gradient), var(--background),var(--background));
    width: 100%;
    padding-block-start: var(--space-bar-3);
    
    ul{
        row-gap: var(--space-bar-0);
        padding-block-end: var(--space-bar-0);
        li{
            width: max-content;
        }
        li:hover {
            font-family: "Jacquard 24", system-ui;
            color: var(--color);
        }
        /* active state of the button */
        li:first-child{
            font-family: "Jacquard 24", system-ui;
            color: var(--color);
        }
    }   
}

footer{
    
    font-family: "PT Sans", sans-serif;
    background-color: var(--background);
    font-size: 60%;
    bottom: 0;
    display: flex;
    column-gap: var(--space-bar-0);
    align-items: center;
    justify-content: center;
    
    a{
        text-decoration: underline;
    }
    a:hover{
        font-family: "PT Sans", sans-serif;
        color: var(--color);
    }
}


main{
    width: 100vw;
    /* adding height here so i can scroll for sketch purposes */
    height: 100%;
    overflow-x:hidden;
}
#channel-blocks{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: -2rem;
    justify-content: space-evenly;
    align-items: space-evenly;
    text-align: center;

   

    li{
        gap: var(--space-bar-0);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: var(--body-copy);
        filter: grayscale(100%);
        h2{
            max-width: 40ch;
            font-weight: 700;
                margin-block-end: 0.4rem;
                color: var(--color);
                opacity: 50%;
        }
        
        p{
            display: block;
            max-width: 40ch;
            font-family: "PT Sans", sans-serif;
            opacity: 0;
            font-size: 60%;
            transition: 0.5s;
            transition-timing-function: ease-out;
        }
        h3{
            max-width: 35ch;
            color: var(--color);
        }
        /* this is for hover animation */
        scale: 20%;
        transition: 0.5s;
        transition-timing-function: ease-out;
    }
    li:hover h3, li:hover p {
        opacity: 1;
        color: var(--secondary-color);
        }
    li:hover{
        color: var(--color);
        scale: 100%;
        filter: grayscale(0%);
    }

img{
    width: 20vw;
}

.documents{
    iframe{
        width: 100%;
        height: min-content;
    }
}

}




@media(width<1000px){
    :root{
         --space-page-margin: 1rem;
    }

    hgroup{
        width: 100%;
        /* height: 5rem; */
        padding-block-end: 6rem;
        position: fixed;
        inset-block-start: 0rem;
        ul{
            #about{
                text-align: center;
                width: 100%;
                display: inline;
                a{
                    display: none;
                }
            }
            height: 3rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            row-gap: 0.6rem;
           
            /* h1 */
            li:nth-child(2) {
                order: -2;
            }
            /* kimaya */
            li:nth-child(1), li:nth-child(3) {
                display: none;

            }
        }
    }
    #content{
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: var(--space-bar-3);
        align-items: center;
        #description{
            opacity: 1;
             color: var(--secondary-color);
        }
        .images{
            width: 40vw;
            filter: grayscale(0%);
        }

        #card {
            color: var(--color);
            align-items: left;
            gap: var(--space-bar-0);
            display: flex;
            flex-direction: column;
            font-size: var(--body-copy);
            scale: 100%;
            transition: 0.5s;
            transition-timing-function: ease-out;
        }
    }
    nav{
        #viewtoggle{
            display: none;
        }
    }
}


@keyframes fontchange {
  0% {
    font-family: "Jacquard 24", system-ui;
  }
  20% {
    font-family: "Share Tech Mono", monospace;  
    font-family: "Micro 5", sans-serif;
  }
  40% {
    font-family: "Jacquard 12 Charted", system-ui;
  }
  60% {
    font-family: "Micro 5", sans-serif;
  }
  80% {
    font-family: "VT323", monospace;
  }
  100% {
    font-family: "Jacquard 24", system-ui;
  }
}