@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Jacquard+12+Charted&family=Jacquard+24&family=Micro+5&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Share+Tech+Mono&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=VT323&display=swap');

:root{
    --color: rgb(17, 17, 17);
    --secondary-color: rgb(176, 176, 176);
    --background: rgb(244, 244, 242);

    --card-height:1rem;
    --card-width: auto;

    --body-copy: 1.3rem;
    --caption-copy: calc(var(--body-copy) * 0.8);

    --space-bar-0: 0.8rem;
    --space-bar-1: 1rem;
    --space-bar-2: calc(var(--space-bar-1) * 1.8);
    --space-bar-3: 4rem;
    --space-page-margin: 2rem;
}

body{
    height: 100vh;
    color: var(--color);
    background-color: var(--background);
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: var(--body-copy);
    color: var(--secondary-color);

    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-items: center;
}


@media(width<1000px){
    :root{
         --space-page-margin: 1rem;
    }
}
@media(width<800px){
    :root{
        --body-copy: 1rem;
        --space-bar-0: 0.6rem;
        --space-bar-1: 0.8rem;
        --space-bar-2: calc(var(--space-bar-1) * 1.8);
        --space-bar-3: 2rem;
    }
}

hgroup, main, footer{
    padding: var(--space-page-margin);

}


hgroup{
    height: 3rem;
    display: flex;
    justify-content:space-between;
    column-gap: var(--space-bar-1);
    align-items: center;
    font-size: var(--body-copy);
    position: sticky;
    inset-block-start: 0rem;
    z-index: 1;
    white-space: nowrap;
    h1{
        color: var(--color);
        animation-name: fontchange;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: steps(5, end);
        font-size: 120%; 
        height: 100%;  
    }

    a{
        max-width: 12rem;
        height: 100%;
    }
    #info{       
        #hide{
            display: block;
            white-space: wrap;
            width: 60ch;
            position:relative;
            top: var(--space-bar-1);
            color: var(--secondary-color);
            opacity: 0;
            font-family: "VT323", monospace;
        }
    }
    /* i want the info to appear on hover. this is my reference: https://codepen.io/jimbennett/pen/OMPrjL */

    /* I referenced how the selector were written such as .textanim-container:hover .textanim-hidden */
    #info:hover #hide {
        opacity: 1;
        }
}


footer{
    font-family: "PT Sans", sans-serif;
    font-size: 60%;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    column-gap: var(--space-bar-0);
    align-items: center;
    justify-content: center;
    
    a{
        text-decoration: underline;
    }
    a:hover{
        font-family: "PT Sans", sans-serif;
        color: var(--color);
    }
    @media(width<1200px){
        display: block;
    }
}



a:hover{
    font-family: "Jacquard 24", system-ui;
    color: var(--color);
}


#card {
    width: 18vw;
    align-items: left;
    gap: var(--space-bar-0);
    display: flex;
    flex-direction: column;
    font-size: var(--body-copy);

}

#content{
    display: flex;
    flex-direction: row;
    column-gap: var(--space-bar-1);
    justify-content: center;
    #description{
        font-family: "PT Sans", sans-serif;
        opacity: 0;
        font-size: 60%;
    }
    #card:hover #description {
        opacity: 1;
        color: var(--secondary-color);
        }
    #card:hover{
        color: var(--color);
    }
}

.images{
    filter: grayscale(100%) invert(100%);
}
.images:hover{
    filter: grayscale(0%);
    }

.text{
    #description{
        display: block;
        p:first-child{
            font-weight: 700;
            margin-block-end: 0.4rem;
            color: var(--color);
            opacity: 50%;
        }
    }
}


@keyframes fontchange {
  0% {
    font-family: "Jacquard 24", system-ui;
  }
  20% {
    font-family: "Share Tech Mono", monospace;  
    font-family: "Micro 5", sans-serif;
  }
  40% {
    font-family: "Jacquard 12 Charted", system-ui;
  }
  60% {
    font-family: "Micro 5", sans-serif;
  }
  80% {
    font-family: "VT323", monospace;
  }
  100% {
    font-family: "Jacquard 24", system-ui;
  }
}